<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>学友会　備品貸出システム</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="js/jquery1.7.2.min.js"></script>
<script src="js/script.js"></script>
<%= stylesheet_link_tag    "inside/style1", media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header id="header">
	<h1>学友会　備品貸出システム</h1>
  <!-- ロゴ -->
	<div class="logo">
		<a href="/home">学友会<br /><span>Soka University</span></a>
	</div>
	<!-- / ロゴ -->
	<!-- 電話番号+受付時間 -->
	
  <div class="info">
<!-- 		<p class="tel"><span>電話:</span> 012-3456-7890</p>
		<p class="open">受付時間: 平日 AM 10:00 〜 PM 5:00</p> -->
	</div>
	<!-- / 電話番号+受付時間 -->
</header>


<!-- ============================メインナビゲーション================================ -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    		<li><a href="/uketuke1"><strong>備品の貸出</strong><span>Rental equipment</span></a></li>
			<li><a href="/uketuke2"><strong>音楽練習室</strong><span>Borrowed</span></a></li>
			<li><a href="/uketuke3"><strong>会議室・和室・厨房</strong><span>cReservation</span></a></li>
			<li class="active"><a href="/uketuke4"><strong>その他施設</strong><span>History</span></a></li>
		</ul>   
    </div>
	</div> 
</nav>
<!-- / ==========================メインナビゲーション=============================== -->


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main">
    <section class="content">
    	<h3 class="heading">学友会 備品の貸出</h3>
     	<article>

     		<%= form_with(model: @facility, local: true) do |form| %>
		    	<p>
		            <%= form.label :g_name, "団体名：" %><br>
		            <%= form.text_field :g_name %>
		        </p>
		        <p>
		            <%= form.label :r_name, "名前：" %><br>
		            <%= form.text_field :r_name %>
		        </p>
		        <p>
		            <%= form.label :tell, "TELL：" %><br>
		            <%= form.text_field :tell %>
		        </p>
		        <p>
		        	<%= form.label :"部屋：" %>
					<%= form.select :room ,
					[["共同ホール", "共同ホール"], ["301の鍵（同好会）", "301の鍵（同好会）"], ["体育倉庫（小）", "体育倉庫（小）"], ["プレハブ（白百合）", "プレハブ（白百合）"], ["物干し室", "物干し室"], ["共スタ１", "共スタ１"], ["共スタ２", "共スタ２"], ["中スタ", "中スタ"], ["中音", "中音"], ["大スタ", "大スタ"], ["大練", "大練"], ["318の鍵", "318の鍵"], ["池田記念講堂B1", "池田記念講堂B1"]]%>
		        </p>
		        <%= form.submit "借りる"%>
		    <% end %>
    	</article>
    </section>
</div>
<!-- / ============================コンテンツ============================ -->





























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>