<!DOCTYPE html>
<html dir="ltr" lang="ja">
<!-- ============================ヘッダー================================ -->
<%= render 'layouts/head_jimu' %>


<!-- ============================メインナビゲーション================================ -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    		<li><a href="/jimu"><strong>備品チェック</strong><span>check</span></a></li>
			<li class="active"><a ><strong>備品の追加</strong><span>correction</span></a></li>
			<li><a href="/jimu3"><strong>備品の変更</strong><span>correction</span></a></li>
			<li><a href="/jimu4"><strong>共有は命</strong><span>share</span></a></li>
			<li><a href="/jimu6"><strong>要望書</strong><span>special</span></a></li>
		</ul>   
    </div>
	</div> 
</nav>
<!-- / ==========================メインナビゲーション=============================== -->


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper" class="create">
	<section id="main">
    <section class="content">
    	<h3 class="heading">学友会事務局　備品の追加</h3>
     	<article>

		    <%= form_with(model: @equipment, local: true) do |form| %>
		    	<p>
		            <%= form.label :name, "名称：" %><br>
		            <%= form.text_field :name %>
		        </p>
		        <p>
		            <%= form.label :number, "数：" %><br>
		            <%= form.text_field :number %>
		        </p>
		        <p>
		            <%= form.label :max_number, "貸出最大数：" %><br>
		            <%= form.text_field :max_number %>
		        </p>
		        <p>
		            <%= form.label :setumei, "備品の説明：" %><br>
		            <%= form.text_area :setumei, :size=> "90x10" %>
		        </p>
		        <p>
		        	<a>カテゴリ：</a><br>
		            <label><%= form.radio_button :category,'高価備品',class: :rd %>高価備品</label>
		        	<label><%= form.radio_button :category,'コード類',    class: :rd %>コード類</label>
		        	<label><%= form.radio_button :category,'文具',  class: :rd %>文具</label>
		        	<label><%= form.radio_button :category,'掃除工具調理',    class: :rd %>掃除工具調理</label>
		        	<label><%= form.radio_button :category,'スポーツ用品',  class: :rd %>スポーツ用品</label>
		        	<label><%= form.radio_button :category,'分室備品',  class: :rd %>分室備品</label>
		        	<label><%= form.radio_button :category,'創立者セット',  class: :rd %>創立者セット</label>
		        </p>
		        <%= form.submit "登録する"%>
		    <% end %>

    	</article>
    </section>
</div>


<!-- / ============================コンテンツ============================ -->




























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>