<!DOCTYPE html>
<html dir="ltr" lang="ja">
<!-- ============================ヘッダー================================ -->
<%= render 'layouts/head_jimu' %>


<!-- ============================メインナビゲーション================================ -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    		<li class="active"><a><strong>備品チェック</strong><span>check</span></a></li>
			<li><a href="/jimu2"><strong>備品の追加</strong><span>correction</span></a></li>
			<li><a href="/jimu3"><strong>備品の変更</strong><span>correction</span></a></li>
			<li><a href="/jimu4"><strong>共有は命</strong><span>share</span></a></li>
            <li><a href="/jimu6"><strong>要望書</strong><span>special</span></a></li>
		</ul>   
    </div>
	</div> 
</nav>
<!-- / ==========================メインナビゲーション=============================== -->


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main">
    <section class="content">
    	<h3 class="heading">学友会事務局　備品チェック</h3>
     	<article>
     	<div class="kategori">
     		<p>高価備品</p>
     		<% @koukabihin.each do |equipment| %>
	        	<a><%= equipment.name %></a>
	        <br>
    		<% end %>
    	</div>
    	<div class="kategori">
    		<p>コード類</p>
     		<% @kodorui.each do |equipment| %>
	        	<a><%= equipment.name %></a>
	        <br>
    		<% end %>
    	</div>
    	<div class="kategori">
    		<p>文具</p>
     		<% @bungu.each do |equipment| %>
	        	<a><%= equipment.name %></a>
	        <br>
    		<% end %>
    	</div>
        <div class="kategori">
        	<p>掃除工具調理</p>
     		<% @souzikougutyouri.each do |equipment| %>
	        	<a><%= equipment.name %></a>
	        <br>
    		<% end %>
    	</div>
        <div class="kategori">
        	<p>スポーツ用品</p>
     		<% @supotuyouhin.each do |equipment| %>
	        	<a><%= equipment.name %></a>
	        <br>
    		<% end %>
    	</div>
        <div class="kategori">
            <p>分室備品</p>
            <% @bunsitu.each do |equipment| %>
                <a><%= link_to equipment.name, uketuke1_new_path(equipment) %></a>
            <br>
            <% end %>
        </div>
        <div class="kategori">
            <p>創立者セット</p>
            <% @souritusya.each do |equipment| %>
                <a><%= link_to equipment.name, uketuke1_new_path(equipment) %></a>
            <br>
            <% end %>
        </div>
    	</article>
    </section>
</div>
<!-- / ============================コンテンツ============================ -->




























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>