<%= render 'layouts/head_portal' %>
  <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓main content↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
        <div class="container" id="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <%= form_with(model: @portalnav,:url => {:action => :club_addnavparent}, local: true) do |form| %>
                    <br><p>
                      <%= form.label :parent, "リストグループ名" %><br>
                      <%= form.text_field :parent %>
                    </p><br><br>
                    <%= form.hidden_field :group, :value => "club" %>
                    <%= form.submit "追加"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>



    <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑main content↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
</div>
</div>
</body>



















