<!DOCTYPE html>
<html dir="ltr" lang="ja">
<!-- ============================ヘッダー================================ -->
<%= render 'layouts/head_kyokuin' %>


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper" class="create">
	<section id="main">
    <section class="content">
    	<h3 class="heading">引き継ぎノート</h3>
     	<article>
     		<div class="btn">
     		<a href="/kyokuin1_new" class="btn-flat-border">---------共有する--------</a>
     		</div>

     		<div class="cate"><p>未解決</p></div>
     		<% @hikitugi.each do |hikitugi| %>
     		<div class="share_info">
     			<div class="width_150">
	     		<a>共有者：</a>
	        	<a><%= hikitugi.name %></a>
	        	</div>
	        </div>
	        <div class="share_info">
	        	<div class="width_400">
	        	<a>タイトル：</a>
	        	<a><%= hikitugi.title %></a>
	        	</div>
	        </div>
	        <div class="share_info">
	        	<div class="width_150">
	        	<a>共有日：</a>
	        	<a><%= hikitugi.created_at.strftime('%Y/%m/%d') %></a>
	        	</div>
	        </div>
	        <div class="share_text">
	        	<a3><%= simple_format(hikitugi.text) %></a3>
	        </div>
	        <div class="btn2">
	        <tr>
	        <td><%= link_to '解決済に移動', kyokuin1_edit_path(hikitugi) %>
		    </tr>
		</td></tr></div>
        	<br>
    		<% end %>




     		<div class="cate"><p>解決済</p></div>   			
     		<% @resolution.each do |hikitugi| %>
     		<div class="share_info">
     			<div class="width_150">
	     		<a>共有者：</a>
	        	<a><%= hikitugi.name %></a>
	        	</div>
	        </div>
	        <div class="share_info">
	        	<div class="width_400">
	        	<a>タイトル：</a>
	        	<a><%= hikitugi.title %></a>
	        	</div>
	        </div>
	        <div class="share_info">
	        	<div class="width_150">
	        	<a>共有日：</a>
	        	<a><%= hikitugi.created_at.strftime('%Y/%m/%d') %></a>
	        	</div>
	        </div>
	        <div class="share_text">
	        	<a><%= simple_format(hikitugi.text) %></a>
	        </div>
	        <tr>
	        <td><%= link_to '消去する', kyokuin1_path(hikitugi), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
		    </tr>
        	<br>
        	</td></tr>
    		<% end %>
    		

    	






    	</article>
    </section>
</div>
<!-- / ============================コンテンツ============================ -->



























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>