<!DOCTYPE html>
<html dir="ltr" lang="ja">
<!-- ============================ヘッダー================================ -->
<%= render 'layouts/head_kyokuin' %>


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main">
    <section class="content">
    	<h3 class="heading">学友会事務局　備品チェック</h3>
     	<article>

     		<div class="btn">
     		<a href="/kyokuin2" class="btn-flat-border">---------貸出中備品一覧--------</a>
     		</div>

		    <%= form_with(model: @rentalequip,:url => {:action => :kyokuin2_update}, local: true) do |form| %>
<!-- 		        <p>
		            <%= form.label :rental_at, "貸出時間：" %><br>
		            <%= form.datetime_select :rental_at %>
		        </p>
		        <p>
		            <%= form.label :return_at, "返却時間：" %><br>
		            <%= form.datetime_select :return_at %>
		        </p> -->
		        <p>
		            <%= form.label :g_name, "団体名：" %><br>
		            <%= form.text_field :g_name %>
		        </p>
		        <p>
		            <%= form.label :r_name, "名前：" %><br>
		            <%= form.text_field :r_name %>
		        </p>
		        <p>
		            <%= form.label :tell, "電話番号：" %><br>
		            <%= form.text_field :tell, id: "tell" %>
		        </p>
		        <p>
		            <%= form.label :email, "email：" %><br>
		            <%= form.text_field :email, id: "email" %>
		        </p>
		        在庫不明
		        <p>
		            <%= form.label :r_num, "数：" %><br>
		            <%= form.text_field :r_num %>
		        </p>
		        <p>
		            <%= form.label :no_text, "No.：" %><br>
		            <%= form.text_field :no_text, id: "no_text"%>
		        </p>
		        <p>
		            <%= form.label :place, "使用場所：" %><br>
		            <%= form.text_field :place %>
		        </p>
		        <p>
		            <%= form.label :katudo_naiyo, "理由：" %><br>
		            <%= form.text_field :katudo_naiyo %>
		        </p>
		        <%= form.submit "変更する" %>
		    <% end %>

     	


    	</article>
    </section>
</div>
<!-- / ============================コンテンツ============================ -->




























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>